*/.DS_Store
.DS_Store
node_modules
.env
.env.local
.serverless
respond.js
login.js
creds.json
local-data
*.log
*.xlsx
menu.json
.vscode/
menu.xlsx
demo/

# Compiled ts files
src/utils/parse-dining.js
src/utils/fetch-dining.js